---
name: Pull Request
on:
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test:
    name: Unit tests and linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Setup pnpm
        run: sudo npm i -g pnpm@10.4.1
      - name: Install Dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: ESLINT
        run: pnpm lint
      - name: Vitest
        run: pnpm run -C packages/sdk test
